body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    margin: 0 auto;

}
.header {
    position: relative;
}

#lane {
    height: 300px;
    width: 100%;
}

.centered {
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-color: 5px solid black;
    padding: 10px;
    background-color: white;
    opacity: 0.5;
    color: black;
    font-size: 50px;
    text-align: center;
}

.aboutMe {
    position: relative;
}

.centered2 {
    position: absolute;
    top: 130px;
    left: 25%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 50px;
    text-align: center;
    z-index: 2;
}

#reim {
    height: 300px;
    width: 100%;
    z-index: 3;
}

.blog {
    position: relative;
}

.centered3 {
    position: absolute;
    top: 130px;
    left: 25%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 50px;
    text-align: center;
}

#koshka {
    height: 300px;
    width: 100%;
}