* {
    margin: 0px;
    z-index: 3;
}

*: not(#koshka) {
    background-color: black
}



#koshka {
    position: relative;
    height: 300px;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.text {
    color:black;
    position: absolute;
    top:  130px;
    left:  25%;
    font-size: 50px;
    font-weight: bold;
    display: block;
}

.body {
    position: relative;
    background-color:black;
    color: white;
    margin-top: 0px;
    margin: 0px;
    padding: 20px;
}


h1 {
    border: 20px solid black;
    margin-top: 0px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    background-color: black;
}

.intro {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
}


.thank {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 360px;
    height: 360px;
}

.bapak {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 360px;
    height: 360px;
}
