body {
    background-color: burlywood;
    margin-left: 10cm;
    margin-right: 10cm;
    font-family: 'Times New Roman', Times, serif;

}

h1 {
    color :black;
    text-align: center;
    font-size: 30px;
}
.home {
    color : black;
}

.thank {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 360px;
    height: 360px;
}
.intro {
    text-align: left;
    font-size: 18px;
}
.bapak {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 360px;
    height: 360px;
}

.main {
    text-align: left;
    font-size: 18px;
}

.end {
    text-align: left;
    font-size: 18px;
}